{% extends "base.html" %}

{% block content %}
    {% include "cover.html" %}
    <div class="container my-5">
        <div>
            <p><strong>Our mission </strong> to help children in need, who have been identified as high achievers, remain in school.</p>
        <p>
            <strong>Our Vision </strong>is that we believe that education can move a child beyond the stigma of poverty, 
            and give that child the tools to reach his or her true and full potential.
        </p>
        </div>
        <hr>
        <div>
            <h4>UK Board of Directors</h4>
            <h4>Shadi Khakpour – CF UK Chairman</h4>
            <p>
                I studied Computer Hardware Engineering in Iran, MBA-International Business in Malaysia and Germany and MSc.
                Project Management with Distinction in the UK. I have several years of working experience in marketing, technical sales,
                business and commercial analysis in IT and oil and gas industries. I have lived in different parts of the world and have been
                actively contributing to different charity organizations worldwide during the last decade. Now, I am very excited to be a member
                of Child Foundation family and help CF UK to prosper and support as many children as we can!
            </p>
            <p>
                I believe there are no bad people, but good people who make bad decisions. The underlying reasons for many crimes and illegal 
                activities are poverty, lack of education and emotional support since childhood. All children should have the right to learn,
                play, feel supported and loved, in order to be able to leave a positive legacy in the world. We, as adults, who have been blessed
                with family, safety, love, education and health, should do whatever we can, to create the same opportunities for beautiful souls
                who require assistance with all their basic needs.  My most important ambition in life, is to help children reach their potentials
                by supporting them meet their basic needs and providing access to education. This cannot be possible, without the support of our 
                kind sponsors, donors and volunteers. I truly believe that every SIMPLE ACT OF CARING CREATES AN ENDLESS RIPPLE! Together, we can
                make a difference!
            </p>
            <h4>Mohammad Mehdi Jafari – Treasurer and Communication Lead</h4>
            <p>
                I have studies Computer Science in Iran and Mechanical engineering in Salford university. I came over to UK in 2010 and got involved 
                with North East open door and food banks. I have also worked with Hiro charity for the past year and recently came on board as a trustee.
                In my view, all children deserve the opportunity to flourish to their full potential and only need the right environment and emotional 
                support to reach their goals and become positive adults. I am happy and excited to be a part of Child Foundation UK family and will do 
                my utmost to support children around the world.
            </p>
            <h4>Simin Jahangiri: Communication Support</h4>
            <p>
                I have spent the past 10 years dedicating my skills and knowledge to working for various charities. Besides my business acumen and Immigration
                qualifications, I have developed and nurtured a passion and enthusiasm for human rights, women’s rights and animal welfare. I have previously
                worked on several domestic violence cases at a reputable women’s rights charity helping oppressed women. I have also spent time abroad in 
                Greece working to help the refugees at the camps set up in Khios through Doctors Of The World. I also dedicate a lot of my time and knowledge
                towards helping refugees from Iran settle in the UK. I am an active supporter for animal rights and regularly support charities working to 
                make animal’s lives better. I helped set up a charity in London aiming to help the Iranian elderly integrate into society in the UK which
                involved a weekly social club and regular trips abroad.
            </p>
            <p>
                I am a firm believer in kindness and giving, I try to help the vulnerable and needy as much as I can and aspire to do even more. I believe 
                that together we can help change the world with love and positive energy, but we must start from somewhere and I believe children are the 
                most important assets of our society and our future. By educating them, we enriched our society, which is why we should all help these children
                learn and create a better world for everyone to live in. Let us sow the seeds of a bright future and watch them grow.
            </p>
            <h4>Amir Barkhor – Technical Support</h4>
            <p>
                I studied software and hardware engineering in Shiraz. I came over to the UK in 2001.I studied Microsoft certified engineering in Manchester. 
                I also completed a Cisco networking course. I have my own Import company and also my own IT business. I have worked with different charities 
                for the past 15 years. i.e.: Cancer research, Children’s association and Hiro charity for the past 5 years.  I am passionate about supporting 
                children all over the world and am fortunate to be a part of a strong team to support Child Foundation.
            </p>
        </div>
    </div>
    
{% endblock content %}