{% extends 'base.html' %}
{% block content %}
{% load mathfilters %}
  <div class="section container content">
      <div class="d-flex justify-content-between">
        <h3>Child Details</h3>      
        <button class="btn btn-secondary" onClick="javascript:history.go(-1);">Back</button>
          
      </div>
      <hr>
      <div class="row d-flex justify-content-center">
          <div class="col-5">
            <img src="/files/{{child.image}}" class="child-image" alt="">
          </div>
          <div class="col-5 d-flex flex-column align-items-center justify-content-center">
            <h3>{{child.first_name|upper}}</h3>
            <div class="text-muted">
                <span>Location:</span>
                <span>{{child.province_birthday|capfirst}},</span>
                <span>{{child.city_birthday|capfirst}}</span>
            </div>
            <h5 class="color-pink my-2">Donation Needs: {{child.donation_needs}}£ / Month</h5>
            {% if sponsor_right %}
            <h5 class="color-pink my-2">Your Sponsorship Amount: {{current_sponsorship}}£ / Month</h5>
            {% endif %}
            <span class="text-muted">Age: {{child.age}}years</span>
          </div>
      </div>
      <p class="my-5 w-75 mx-auto">{{child.description}}</p>
      <hr>
      
      {% if child_has_sponsor %}
        <h3 class="my-4 color-pink">Sponsorship History</h3>
        {% if sponsor_right %}
          <div class="d-flex align-items-center">
            <h6 class="mb-0 ml-4 w-25">Begining Of Sponsorship</h6>
            <span>{{date}}</span>
          </div>
        {% endif %}
      {% else %}
      <div class="d-flex justify-content-around align-items-center">
        <button class="btn btn-pink d-block"><a href="{% url 'childs:become_sponsor' child.id child.current_need %}">BECOME Full SOPNSOR</a></button>
        <form action="/become_sponsor/{{child.id}}/10" method="post" class="d-flex align-items-center">
          {% csrf_token %}
          <button type="submit" class="btn btn-pink d-block">BECOME Part SOPNSOR</button>
          <input class="form-control vIntegerField ml-1" value={{child.current_need|intdiv:2}} type="number" name="amount">
          <span class="ml-1">£ / Month</span>
        </form>
      </div>
      {% endif %}
      
  </div>
{% endblock content %}