{% extends "base.html" %}

{% block content %}
    {% include "cover.html" %}
    <div class="title-main">
        <span class="text-center">You are about to make an impact on a child’s life by making donation to Child Foundation UK.</>
    </div>
    <div class="container">
        <p>Whether you decide to make a one-off donation or to sponsor a child we promise that the donation you make today will be used to
             keep a child at school or to keep their families safe and warm by addressing their urgent needs. We recommend you to
              <a href="{% url 'accounts:user_login' %}">Register / Log in</a> before making your donation which enables you to manage your donations 
              and helps us keep track of our donors and available funds. However, it is also possible to donate anonymously without registering/logging in, if you wish to do so.</p>
        <p>Regardless, your donation will change the lives of extremely vulnerable children in under developed countries. It satisfies their 
            urgent needs and helps them gain access to education and/or enables them to remain in school. Unlike other charities 100% of your
             donations will go to children in need. As a small charity we are volunteer based and have no overheads.</p>
    </div>
    <div class="title-main">
        <span class="text-center">Payment Methods:</span>
    </div>
    <div class="container mb-3">
        <h3 class="mt-1">1. Bank Payment:</h3>
        <p>If you would like to make a one-off donation, here is our bank details. Please kindly mention the Donation Category 
            specified above in the Reference field of your payment.</p>
        <h5>Lloyds Bank</h5>
        <p>Child Foundation</p>
        <p>Acc. 14808763</p>
        <p>Sort Code 30-98-97</p>
        <hr>
        <p>If you wish to make regular payments to the Child Foundation, you can set up a Standing order/Banking order. 
            This is an instruction you can give to your bank to pay a set amount at regular intervals to the Child foundation. 
            You can cancel or make any changes at any time. </p>
        <h3 class="mt-1">2. Paypal:</h3>
        <p>If you live outside of the UK and you would like to donate to Child Foundation UK, you can use PayPal to make payments. 
            However, please note that Paypal charges 1.7% on all payments</p>
        <p>Please specify your donation amount and the category that you would like to donate to.</p>
        <!-- <button class="btn btn-pink"><a href="https://www.paypal.com/donate/?business=finance@childfoundation.co.uk&cmd=_donations&tax=0&no_shipping=0&no_note=1&item_name=Donation&item_number=finance_api1.childfoundation.co.uk&currency_code=GBP" class="text-white">Paypal</a></button> -->
        <p>On behalf of the children that we serve, we are so grateful for your support! Child Foundation could not exist 
            without the kind hearts and the generosity of our donors and sponsors. </p>
        <p class="my-4">Thank you & Blessings</p>
    </div>
{% endblock content %}