{% extends "base.html" %}

{% block content %}
{% include "cover.html" %}
<div class="my-5 px-5">
    <p>We consider and recognize the children’s need to education. To achieve this goal progressively and based on the equal opportunity,
         we need your help to give hope to the talented children. Sponsor a child <a href="{% url 'accounts:user_register' %}">HERE</a></p>
    <p>The monthly sponsorship gift is specific for each child and has been calculated based on family needs and income among others. Generally,
         children need between 15-60 Pound per month. For the exact amount please <a href="{% url 'childs:contact' %}">CONTACT US</a> before filling out the form. You may of course choose 
         to pay the entire or part of the monthly need.</p>    
</div>

<div class="childs-list">
    {% for child in childs %}
    <div class="child">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">          
                <h6 class="mb-0">{{child.first_name|upper}}</h6>
                <div>
                    <span class="qoute">{{child.province_birthday|capfirst}},</span>
                    <span class="qoute">{{child.city_birthday|capfirst}}</span>
                </div>
            </div>
            <img src="files/{{child.image}}" class="child-image" alt="">
            <div class="card-body">
                <div class="d-flex justify-content-around align-items-center">
                    <h6 class="mr-1 mb-0">Donation Needs: {{child.get_donation_needs}}</h6>
                    <div>
                        <span>{{child.age}}years</span>
                        <i class="fas fa-calendar"></i>
                    </div>
                </div>
                <p class="card-text">
                    {{child.description| truncatechars_html:200}}
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-pink btn-block"><a href="{% url 'childs:child_details' child.id %}">SEE CHILD DETAILS</a></button>
            </div>
        </div>
    </div>
    {% endfor %}    
</div>

{% endblock content %}