{% extends "base.html" %}

{% block content %}
    {% include "cover.html" %}
    <div class="title-main">
        <span class="text-center">Thinking about volunteering with Child Foundation in the UK?</>
    </div>
    <div class="container">
        <p>We at Child Foundation are very passionate about our work but, as a small team, our work relies heavily on the solidarity 
            of our supporters and volunteers, who take the time to spread the word about what we do and help us raise the vital funds 
            that allow us to continue investing in better futures for thousands of children at risk.
        </p>
        <p>
            If you are interested in being a volunteer, please <a href="{% url 'accounts:user_register' %}">register</a> with us
        </p>
    </div>
    <div class="title-main">
        Join us today!
    </div>

    <div class="container">
        <h4>There are so many ways that you can support child foundation UK</h4>
        <h5>Here are a few:</h5>
        <p>Join the team and help us by translation/ communication with sponsors and other CF offices around the world</p>
        <p>Become a Promoter make awareness about who we are and what we do</p>
        <p>Fundraise for child foundation UK</p>
        <p>Help with organising events</p>
        <p>Attend child foundation events</p>
        <p>Share your ideas</p>
        <p>We hold regular Promoter Induction Sessions, which are an opportunity for you to find out how the network works, share your fundraising 
            ideas and experiences, ask any questions about our work, and meet other volunteers.
        </p>
    </div>
    <hr>
    <div class="title-main">Join Us!</div>
    <div class="container">
        <h4 class="mb-3">Speak up, raise fund and CHANGE LIVES FOR KIDS</h4>
        <p>who don’t have a voice or a platform where they can be heard, but thanks to inspiring people like you, are not forgotten.</p>
        <p>If you don’t see anything in this section that takes your fancy, just drop us a line and tell us how you can help!</p>
        <p>Please email us at <a href="mailto:info@childfoundation.co.uk">info@childfoundation.co.uk</a></p>
    </div>
    
{% endblock content %}