caption {
  caption-side: top !important;
}
button a:hover {
  text-decoration: none;
}
button a {
  width: 100% !important;
  padding: 1rem;
}

.contains-a {
  padding: 0 !important;
  min-height: 2.5rem;
}

.form-row {
  display: block !important;
}

.submit-row a.deletelink {
  height: initial !important;
}