{% extends "base.html" %}

{% block content %}
  
<div class="childs-list">
    
    {% if childs.count == 0 %}
    <div class="alert alert-info my-5">You dont Sponsor any child!</div>
    {% endif %}
        
    {% for child in childs %}
    <div class="child">
        <div class="card">
            <div class="card-header d-flex justify-content-between">          
                <h4>{{child.first_name|upper}}</h4>
                <div>
                    <span class="qoute">{{child.province_birthday|capfirst}},</span>
                    <span class="qoute">{{child.city_birthday|capfirst}}</span>
                </div>
            </div>
            <img src="/files/{{child.image}}" class="child-image" alt="">
            <div class="card-body">
                <div class="d-flex justify-content-around">
                    <h5 class="mr-1">Donation Needs: {{child.donation_needs}} <i class="fas fa-pound-sign"></i> / Month</h5>
                    <div>
                        <span>{{child.age}}years</span>
                        <i class="fas fa-calendar"></i>
                    </div>
                </div>
                <p class="card-text">
                    {{child.description| truncatechars_html:200}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-around">
                <button class="btn btn-pink btn-block"><a href="{% url 'childs:child_details' child.id %}">SEE CHILD DETAILS</a></button>
                <!-- <button class="btn btn-success"><a href="{% url 'childs:donate_child' child.id %}">Donate</a></button> -->
            </div>
        </div>
    </div>
    {% endfor %}    
</div>
{% endblock content %}


