<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>صفحه شخصی افروز رنجبر</title>
    <link rel="stylesheet" href="/static/fonts/flaticon.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include "header.html" %}
    {% include "messages.html" %}
    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
    <script src="/static/js/jquary.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>