<div class="section col-lg-2 mr-3">
    <div class="mb-5">
        <h3 class="mb-4">Category</h3>
        <div class="d-flex justify-content-between color-pink">
            <h5>Events</h5>
            <span>(2)</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between color-pink">
            <h5>News</h5>
            <span>(2)</span>
        </div>
    </div>
    <div class="mb-5">
        <h3 class="mb-4">Archives</h3>
    </div>
    <div class="mb-5">
        <h3 class="mb-4">Tags</h3>
    </div>
    
</div>