<div class="footer py-5 px-1 px-md-5 row">
    <div class="col-12 col-md-6 col-lg-3 footer-section first">
        {% load static %}<img src="{% static "images/logo.png" %}">
        <p>Child Foundation is an international charity organization that helps children living in poverty remain in school.</p>
        <p>2017 © All rights reserved.</p>
        <div class="d-flex social">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-instagram"></i>
          </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 footer-section pl-lg-5">
        <h3>Company</h3>
        <a href="{% url 'childs:about' %}">Abouts</a>
        <a href="{% url 'childs:newsandevents' %}">News & Events</a>
        <a href="{% url 'childs:contact' %}">Contact</a>
        <a href="{% url 'childs:privacy_statement' %}">Privacy Statement</a>
        <a href="{% url 'childs:terms_of_use' %}">Terms Of Use</a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 footer-section">
        <h3>GET INVOLVED</h3>
        <a href="{% url 'childs:sponser_a_child' %}">Sponsor A Child</a>
        <a href="{% url 'childs:volunteers' %}">Volunteers</a>
        <a href="{% url 'childs:donate' %}">Donate</a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 footer-section">
        <h3>CONTACT</h3>
        <input class="form-control" placeholder="Your Name"></input>
        <input class="form-control" placeholder="Your Name"></input>
        <textarea class="form-control" rows="5" placeholder="Write"></textarea>
        <button class="btn btn-pink w-50 mt-3">Send</button>
    </div>
</div>