{% extends "base.html" %}
{% block content %}
<div class="container content">
    <div class="section text-center">
        <h3>{{sponser.user.username}}</h3>
        <div class="d-flex justify-content-center">
            <a href="{% url 'sponser:edit_profile' %}" class="mr-1">Edit Profile</a>
            <span>|</span>
            <a href="{% url 'accounts:user_logout' %}" class="ml-1">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4 pl-0">
            <div class="section sponser_menu">
                <h3 class="mb-4">Sponsers Menu</h3>
                <hr>
                <h5><a href="{% url 'sponser:edit_profile' %}" >Edit Profile</a></h5>
                <hr>
                <h5><a href="{% url 'childs:sponser_a_child' %}">Add Child</a></h5>
                <hr>
                <h5>View Sponsered Childs</h5>
                <hr>
            </div>
        </div>
        <div class="col-8 px-0">
            <div class="section">
                <h3 class="mb-4">Sponsor Profile</h3>
                <hr>
                <div class="sponser_detail">
                    <label class="text-muted">Name</label>
                    <div>
                        <strong class="pl-4">{{sponser.user.first_name}}</strong>
                        <strong>{{sponser.user.last_name}}</strong>
                    </div>
                </div>
                <div class="sponser_detail">
                    <label class="text-muted">Company</label>
                    <strong class="pl-4">{{sponser.company}}</strong>
                </div>
                <div class="sponser_detail">
                    <label class="text-muted">Designation</label>
                    <strong class="pl-4">{{sponser.designation}}</strong>
                </div>
                <div class="sponser_detail">
                    <label class="text-muted">City</label>
                    <strong class="pl-4">{{sponser.city}}</strong>
                </div>
                <div class="sponser_detail">
                    <label class="text-muted">Description</label>
                    <strong class="pl-4">{{sponser.description}}</strong>
                </div>
                <div class="sponser_detail">
                    <label class="text-muted">Gender</label>
                    <strong class="pl-4">{{sponser.gender}}</strong>
                </div>
                <div class="sponser_detail">
                    <label class="text-muted">Contribution</label>
                    <strong class="pl-4">{{sponser.contribution}}</strong>
                </div>
                <div class="sponser_detail">
                    <label class="text-muted">Total Paid</label>
                    <strong class="pl-4">{{sponser.total_paid}}</strong>
                </div>
                <div class="sponser_detail">
                    <label class="text-muted">Total Saving</label>
                    <strong class="pl-4">{{sponser.current_saving}}</strong>
                </div>
                <div class="sponser_detail">
                    <label class="text-muted">Member Since</label>
                    <strong class="pl-4">{{sponser.user.date_joined|date:'d M Y'}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
